/*
Alignment, text indentation, etc.
https://www.w3schools.com/css/css_text.asp
*/
body {
  text-align: center;
}
/* align main */
main {
  text-align: left;
}
main h1 {
  text-align: center;
}
main .gallery {
  text-align: center;
}
/* align nav */
nav {
  text-align: left;
}
nav #home {
  text-align: center;
}
/* align others */
#icons img {
  vertical-align: middle;
}
