/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin inset;
  --radius: .5rem;
}
a img {
  border: var(--border);
  border-radius: var(--radius);
}
/* border main */
main blockquote,
main pre {
  border: var(--border);
  border-radius: var(--radius);
}
main hr {
  border-bottom: var(--border);
  border-top: none;
}
/* border nav */
nav,
nav a {
  border-radius: var(--radius);
}
nav summary {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons {
  border-radius: var(--radius) var(--radius) 0 0;
}
#icons img {
  border: 2px solid;
}
#jump {
  border-radius: var(--radius);
}
#jump a {
  border: var(--border);
  border-radius: var(--radius);
}
#klf {
  border-radius: 0 0 var(--radius) var(--radius);
}
