/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin inset;
  --radius: .4rem;
}
body a img,
body summary {
  border: var(--border);
  border-radius: var(--radius);
}
/* border main */
main blockquote,
main pre {
  border: var(--border);
  border-radius: var(--radius);
}
main hr {
  border: none;
  border-top: var(--border);
}
main table {
  border: var(--border);
}
/* border nav */
nav {
  border-radius: var(--radius);
}
nav a {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons {
  border-radius: var(--radius) var(--radius) 0 0;
}
#jump {
  border-radius: var(--radius);
}
#jump a {
  border: var(--border);
  border-radius: var(--radius);
}
#klf {
  border-radius: 0 0 var(--radius) var(--radius);
}
