/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: crimson;
  --color-back: black;
  --color-link: #ada;
  --color-text: mintcream;
  --color-main-back: white;
  --color-main-link: forestgreen;
  --color-main-text: black;
  --color-heading: #032;
  --color-time: 125ms;
}
body {
  background-attachment: fixed;
  background: var(--color-heading);
  color: var(--color-text);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  border-color: var(--color-heading);
  color: black;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--color-heading);
}
main pre {
  background: black;
  color: #dadada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-back);
}
nav summary {
  border-color:
    var(--color-main-link)
    var(--color-heading)
    var(--color-heading);
}
nav summary:focus,
nav summary:hover {
  background: var(--color-text);
  color: var(--color-back);
  transition: var(--color-time);
}
nav #here {
  background: var(--color-heading);
  color: var(--color-text);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-back);
}
#icons img {
  background: white;
}
