/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: darkturquoise;
  --color-back: #040;
  --color-link: #ada;
  --color-text: white;
  --color-main-box: white;
  --color-main-link: forestgreen;
  --color-main-text: black;
  --color-navbox: #010;
  --transition: 250ms;
}
a:link,
a:visited {
  color: var(--color-link);
}
a:focus,
a:hover,
a:active {
  color: var(--color-active);
  transition: var(--transition);
}
body {
  background: var(--color-back);
  color: var(--color-text);
}
img {
  background: white;
}
/* color main */
main {
  background: var(--color-main-box);
  color: var(--color-main-text);
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  color: black;
}
main hr {
  border-color: var(--color-navbox);
}
main mark {
  background: none;
  color: #f00;
}
main pre {
  background: black;
  color: #ada;
}
main table,
main table thead {
  background: white;
  color: black;
}
main table tr:nth-child(odd){
  background: #dadada;
}
/* color nav */
nav {
  background: var(--color-navbox);
}
nav a[href="#"] {
  color: var(--color-active);
}
nav summary {
  border-color: var(--color-back);
  border-top-color: var(--color-link);
}
nav summary:focus,
nav summary:hover {
  border-color: var(--color-active);
  transition: var(--transition);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-navbox);
}
