/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: darkturquoise;
  --color-back: #042;
  --color-box: black;
  --color-link: #ada;
  --color-text: mintcream;
  --color-main-box: white;
  --color-main-link: forestgreen;
  --color-main-text: black;
  --transition: 125ms;
}
body {
  background: var(--color-back);
  color: var(--color-text);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--transition);
}
body img {
  background: white;
}
/* color main */
main {
  background: var(--color-main-box);
  color: var(--color-main-text);
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  color: black;
}
main h2 {
  border-color: var(--color-back);
}
main mark {
  background: none;
  color: var(--color-active);
}
main pre {
  background: black;
  color: #ada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-box);
}
nav a[href="#"] {
  color: var(--color-active);
}
nav summary {
  border-color: var(--color-back);
  border-top-color: var(--color-link);
}
nav summary:focus,
nav summary:hover {
  border-color: var(--color-active);
  transition: var(--transition);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-box);
}
