/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge: .4rem auto;
  --padme: .2rem .4rem;
  --puffy: .6rem 1.2rem;
}
body {
  margin: .5vh .5vw;
  min-height: 99vh;
  overflow-y: scroll;
}
body summary {
  padding: var(--padme);
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main details,
main pre {
  box-sizing: border-box;
  margin: var(--marge);
  overflow: auto;
  padding: var(--puffy);
  width: 100%;
}
main dt,
main figure,
main .gallery,
main hr,
main iframe {
  margin: var(--marge);
}
main table {
  box-sizing: border-box;
  margin: var(--marge);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a {
  padding: var(--padme);
}
nav a[rel="home"] {
  margin: var(--marge);
}
nav details > details,
nav summary ~ a {
  margin-left: .4rem;
}
/* embiggen others */
#icons {
  padding: var(--puffy);
}
#icons img {
  height: 1.6rem;
  margin: 0 .8rem;
  width: 1.6rem;
}
#jump a {
  padding: var(--puffy);
}
#klf {
  padding: var(--puffy);
}
#klf address {
  margin: 0 1em;
}
