/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-icons: 0 .5rem;
  --marge-large: .5rem auto 1rem;
  --marge-small: .2rem 0;
  --padme: .2rem .5rem;
  --puffy: .5rem 1rem;
  --size-icons: 1.5rem;
}
body {
  margin: 1vh 1vw;
  min-height: 98vh;
  overflow-y: scroll;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin: var(--marge-small);
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav summary {
  padding: var(--padme);
}
nav details > details,
nav summary ~ a {
  margin-left: .5rem;
}
nav #home {
  margin: var(--marge-large);
}
/* embiggen others */
#icons {
  padding: var(--puffy);
}
#icons img {
  height: var(--size-icons);
  margin: var(--marge-icons);
  width: var(--size-icons);
}
#jump a {
  box-sizing: border-box;
  height: 100%;
  padding: var(--padme);
  width: 100%;
}
#klf {
  padding: var(--puffy)
}
#klf address {
  margin: var(--marge-icons);
}
