/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-large: 1rem 0;
  --marge-small: .25em 0;
  --padme: .25em .5em;
  --puffy: .5rem 1rem;
}
body {
  margin: 1vh 1vw;
  max-width: 96vw;
  min-height: 98vh;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin: var(--marge-small);
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav summary {
  margin: var(--marge-small);
  padding: var(--padme);
}
nav details > details,
nav summary ~ a {
  margin-left: 1em;
}
nav #home {
  margin: var(--marge-large);
}
/* embiggen others */
#icons,
#klf {
  padding: var(--puffy);
}
#icons img {
  height: 1rem;
  margin: 0 .5rem;
  padding: .2rem;
  width: 1.25rem;
}
#jump,
#last {
  line-height: 1.2rem;
  margin: .5rem 0;
}
#jump a {
  width: 100%;
}
