/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
@media all and (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
body a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: "Times", serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Courier", monospace;
  font-size: .8rem;
}
main h1 {
  font-size: 1.75rem;
}
/* font nav */
nav a[rel="home"] {
  font-size: 1.5rem;
}
/* font others */
#icons,
#jump,
#klf {
  font-size: .75rem;
}
