/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #fad;
  --color-link: #abc;
  --color-text: #eee;
  --color-main-active: deeppink;
  --color-main-back: #eee;
  --color-main-link: #789;
  --color-main-text: black;
  --color-navbox: rgba(0,0,0,.5);
  --text-shadow: 1px 1px 0 black;
  --transition: 500ms;
}
a {
  transition: var(--transition);
}
a:link,
a:visited {
  color: var(--color-link);
}
a:focus,
a:hover,
a:active {
  color: var(--color-active);
}
body {
  background-image: url("media/galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text);
  text-shadow: var(--text-shadow);
}
img {
  background: white;
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
  text-shadow: none;
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-main-active);
}
main blockquote {
  background: white;
  color: black;
}
main hr {
  border-color: var(--color-navbox);
}
main mark {
  background: none;
  color: #f00;
}
main pre {
  background: black;
  color: #ada;
}
main table,
main table thead {
  background: white;
  color: black;
}
main table tr:nth-child(odd){
  background: #dadada;
}
/* color nav */
nav {
  background: var(--color-navbox);
}
nav a[href="#"] {
  color: var(--color-active);
}
nav summary {
  transition: var(--transition);
}
nav summary:focus,
nav summary:hover {
  border-color: var(--color-active);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-navbox);
}
