/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
}
@media all and (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
a {
  text-decoration: none;
}
/* font main */
main {
  font-weight: lighter;
}
main blockquote {
  font-family: "Times New Roman", Times, serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Courier New", Courier, monospace;
  font-size: .8rem;
}
main dt {
  font-weight: bold;
}
/* font nav */
nav {
  font-size: 1.2rem;
  font-variant: small-caps;
}
nav a[rel="home"] {
  font-size: 2rem;
}
/* font others */
#icons,
#jump,
#klf {
  font-size: .75rem;
}
