/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: red;
  --color-border: #666;
  --color-main: #100;
  --color-mainback: whitesmoke;
  --color-mainlink: firebrick;
  --color-nav: whitesmoke;
  --color-navback: rgba(0,0,0,.7);
  --color-navlink: gold;
  --color-shadow: 0 .1em 0 black;
  --time-color: 451ms;
}
body {
  background: radial-gradient(
    farthest-side at bottom,
    var(--color-nav) 5%,
    var(--color-navlink) 25%,
    var(--color-mainlink) 50%,
    var(--color-main)
    );
  background-attachment: fixed;
  color: var(--color-main);
}
body a:link,
body a:visited {
  color: var(--color-navlink);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--time-color);
}
/* color icons */
#icons {
  background: var(--color-navback);
  color: var(--color-nav);
  text-shadow: var(--color-shadow);
}
#icons a img {
  background: white;
  border-color: var(--color-navlink);
  color: black;
  text-shadow: none;
}
#icons a img:focus,
#icons a img:hover,
#icons a img:active {
  border-color: var(--color-active);
  transition: var(--time-color);
}
/* color jump */
#jump {
  background: var(--color-main);
  color: var(--color-mainback);
}
#jump :focus,
#jump :hover,
#jump :active {
  background: var(--color-navlink);
}
/* color klf */
#klf {
  background: var(--color-navback);
  color: var(--color-nav);
  text-shadow: var(--color-shadow);
}
/* color last */
#last {
  background: var(--color-navback);
  color: var(--color-nav);
  text-shadow: var(--color-shadow);
}
/* color main */
main {
  background: var(--color-mainback);
  border-color: var(--color-border);
  color: var(--color-main);
}
main a:link,
main a:visited {
  color: var(--color-mainlink);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  color: black;
}
main pre {
  background: black;
  color: #dadada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-navback);
  color: var(--color-nav);
  text-shadow: var(--color-shadow);
}
nav summary:focus,
nav summary:hover {
  border-color: var(--color-active);
  transition: var(--time-color);
}
nav #here {
  color: var(--color-active);
}
