/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: 2px ridge;
}
a img {
  border: var(--border);
}
hr {
  border-bottom: var(--border);
  border-top: none;
}
/* border main */
main {
  border: none;
}
main blockquote,
main pre,
main table {
  border: var(--border);
}
/* border nav */
nav a,
nav details {
  border: var(--border);
}
nav details > details {
  border: none;
  border-top: var(--border);
}
/* border others */
#icons,
#jump,
#klf {
  border: none;
}
#jump a {
  border: var(--border);
}
