/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main cite {
  display: block;
}
/* display nav */
nav a,
nav details,
nav summary {
  display: inline-block;
}
nav a[rel="home"],
nav details > details,
nav details summary ~ a {
  display: block;
}
/* display others */
#icons {
  position: sticky;
  top: 0;
}
#icons img {
  display: inline-block;
}
#jump {
   position: sticky;
   bottom: 0;
}
#jump a {
  display: inline-block;
}
#klf address {
  display: block;
}
