/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge: 1.5rem auto;
  --padme: .1rem .5rem;
  --puffy: .5rem 1rem;
}
body {
  background-size: auto 100%;
  margin: 0 auto;
  max-width: 49rem;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 0;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main details,
main pre {
  margin: var(--marge);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main dt,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main hr,
main figure,
main .gallery,
main iframe {
  margin: var(--marge);
}
main table {
  box-sizing: border-box;
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav details {
  padding: var(--padme);
}
nav summary {
  width: 100%;
}
/* embiggen others */
#icons {
  padding: var(--padme);
}
#icons img {
  height: 1.5rem;
  margin: .25rem .75rem;
  width: 1.5rem;
}
#jump a {
  box-sizing: border-box;
  padding: var(--puffy);
}
#klf {
  padding: var(--puffy);
}
