/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: Charcoal, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 451;
  line-height: 1.2;
}
@media all and (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
body a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: Georgia, serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .8rem;
}
main h1 {
  font-size: 2rem;
}
/* font nav */
nav #home {
  font-size: 1.5rem;
}
/* font others */
#icons,
#jump,
#klf {
  font-size: .8rem;
}
