/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-column-gap: 0;
  grid-row-gap: .25rem;
  grid-template-areas:
    'jump'
    'nav'
    'main'
    'icons'
    'klf';
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: auto auto 1fr auto auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
  position: sticky;
  top: 0;
}
#klf {
  grid-area: klf;
}
