/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-row-gap: .25rem;
  grid-template-areas:
    'icons'
    'nav'
    'main'
    'klf'
    'jump';
  grid-template-rows: auto auto 1fr auto auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
  position: sticky;
  top: 0;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
