/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: deeppink;
  --color-back: black;
  --color-link: lightblue;
  --color-text: ghostwhite;
  --color-header: slategray;
  --color-navbox: rgba(0,0,86,.5);
  --color-shadow: 1px 1px black;
  --color-time: 250ms;
}
body {
  background-attachment: fixed;
  background-image: radial-gradient(
    circle farthest-corner at 0% 0%,
    black 42%,
    navy,
    steelblue 84%,
    black 86%
    );
  color: var(--color-text);
  text-shadow: var(--color-shadow);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
/* color main */
main {
  background: var(--color-back);
  text-shadow: none;
}
main a:link,
main a:visited {
  color: var(--color-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
main blockquote {
  background: white;
  color: black;
}
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--color-header);
}
main pre {
  background: black;
  color: silver;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav details {
  background: var(--color-navbox);
  border-color: var(--color-back);
}
nav summary {
  border-color: var(--color-navbox);
}
nav summary:focus,
nav summary:hover {
  border-color: var(--color-active);
  transition: var(--color-time);
}
nav #here {
  color: var(--color-active);
}
/* color others */
#icons img {
  background: white;
}
