/*
Alignment, text indentation, etc.
https://www.w3schools.com/css/css_text.asp
*/
body {
  text-align: center;
}
/* align main */
main {
  text-align: left;
}
main figure,
main .gallery,
main h1,
main h2,
main hr {
  text-align: center;
}
/* align nav */
nav {
  text-align: center;
}
/* align others */
#jump {
  align-items: center;
}
#klf {
  text-align: right;
}
/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: 2px solid;
  --radius: 1rem;
}
a img {
  border: var(--border);
  border-radius: var(--radius);
}
/* border main */
main blockquote,
main pre {
  border-radius: var(--radius);
}
main h2,
main h3,
main h4,
main h5,
main h6,
main hr {
  border: none;
  border-bottom: var(--border);
}
/* border nav */
nav details {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons img {
  border: var(--border);
}
#klf {
  border-top: var(--border);
}
/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #ffde57;
  --color-boxes: rgba(100,100,100,.125);
  --color-head: #999;
  --color-link: #ace;
  --color-mark: deeppink;
  --color-text: azure;
  --text-shadow: 1px 1px 1px black;
}
a:link,
a:visited {
  color: var(--color-link);
}
a:focus,
a:hover,
a:active {
  color: var(--color-active);
}
body {
  background-attachment: fixed;
  background-image:
    radial-gradient(
      circle farthest-corner at 0% 0%,
      #001 75%, steelblue 87%, black 94%
    );
  color: var(--color-text);
  text-shadow: var(--text-shadow);
}
img {
  background: white;
}
/* color main */
main {
  background: var(--color-boxes);
}
main blockquote {
  background: var(--color-boxes);
}
main dt,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main hr {
  border-color: var(--color-boxes);
  color: var(--color-head);
}
main mark {
  background: none;
  color: var(--color-mark);
}
main pre {
  background: black;
  color: #ada;
}
main table,
main table thead {
  background: white;
  color: black;
  text-shadow: none;
}
main table tr:nth-child(odd){
  background: #dadada;
}
/* color nav */
nav a[href="#"] {
  color: var(--color-active);
}
nav details {
  background: var(--color-boxes);
  border-color: var(--color-boxes);
  box-shadow: 0 0 2px;
}
nav details:focus,
nav details:hover {
  border-color: var(--color-active);
}
/* color others */
#klf {
  background: var(--color-boxes);
  border-color: var(--color-boxes);
}
/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main cite,
main iframe {
  display: block;
}
/* display nav */
nav a,
nav summary {
  display: block;
}
/* display others */
#icons img {
  display: block;
}
#jump {
  display: flex;
}
/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-large: 1rem auto;
  --marge-small: .5rem auto;
  --padme: .125rem .5rem;
  --puffy: .5rem 1rem;
  --size-icons: 1.5rem;
}
body {
  margin: 0 auto;
  max-width: 83rem;
  min-height: 100vh;
  overflow-y: scroll;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow-x: auto;
  padding: var(--puffy);
}
main details,
main dt,
main figure,
main .gallery,
main hr,
main iframe {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a {
  margin: var(--marge-small);
  padding: var(--padme);
}
nav details {
  margin: var(--marge-small);
}
nav details summary {
  padding: var(--padme);
}
/* embiggen others */
#icons,
#jump,
#klf {
  padding: var(--puffy);
}
#icons img {
  height: var(--size-icons);
  margin: var(--marge-large);
  width: var(--size-icons);
}
#jump a {
  margin: auto;
}
/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.25;
}
@media all and (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: Palatino, serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family:"Lucida Console", Monaco, monospace;
  font-size: .8rem;
}
main dt {
  font-weight: bold;
}
/* font nav */
nav a[rel="home"] {
  font-size: 1.5rem;
}
/* font others */
#icons,
#jump,
#klf {
  font-size: .75rem;
}
/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    'nav main icons'
    'nav klf  jump';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
