/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --margin-main: .5rem auto;
  --margin-navbox: .2em .5em;
  --padme: .2em .5em;
  --puffy: .5rem 1rem;
}
body {
  min-height: 90vh;
  margin: 1rem;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--margin-main);
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main table {
  margin: var(--margin-main);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav details {
  margin-right: 1em;
}
nav summary ~ a,
nav details > details {
  margin: var(--margin-navbox);
}
nav #home {
  padding: var(--padme);
}
/* embiggen others */
#icons,
#jump,
#klf,
#last {
  padding: var(--puffy);
}
#icons img {
  height: .9rem;
  margin: var(--margin-navbox);
  width: 1.6rem;
}
#jump a {
  width: 100%;
}
