/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
body {
  font-family: Courier, monospace;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
}
body a {
  text-decoration: none;
}
/* font main */
main {
  font-family: Gadget, sans-serif;
}
main blockquote {
  font-family: "Times New Roman", Times, serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: small;
  font-variant: normal;
}
/* font nav */
nav {
  font-size: large;
  font-variant: small-caps;
}
/* font others */
#icons,
#jump {
  font-size: small;
}
#klf,
#last {
  font-size: x-small;
}
