/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-row-gap: 0;
  grid-template-areas:
    'nav nav'
    'main main'
    'icons jump'
    'klf last';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto auto;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
#last {
  grid-area: last;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
