/*
Alignment, text indentation, etc.
https://www.w3schools.com/css/css_text.asp
*/
body {
  text-align: center;
}
main {
  text-align: left;
}
main h1 {
  text-align: center;
}
nav {
  text-align: left;
}
nav #home {
  text-align: center;
}
#icons img {
  vertical-align: middle;
}
#jump {
  text-align: center;
}
#klf {
  text-align: center;
}
