/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin solid;
  --radius: .5rem;
}
/* border main */
main blockquote,
main pre,
main table {
  border-radius: var(--radius);
}
main h2 {
  border-bottom: var(--border);
}
/* border nav */
nav {
  border-radius: var(--radius);
}
nav a,
nav summary {
  border: var(--border);
  border-radius: var(--radius);
}
/* border icons */
#icons {
  border: none;
  border-radius: var(--radius) var(--radius) 0 0;
}
#icons img {
  border: 2px solid;
  border-radius: 6px;
}
/* border jump */
#jump a {
  border: var(--border);
  border-radius: var(--radius);
}
/* border klf */
#klf {
  border: none;
  border-radius: 0 0 var(--radius) var(--radius);
}
/* border last */
#last {
  border: none;
  border-radius: var(--radius);
}
