/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: crimson;
  --color-edges: #042;
  --color-main: black;
  --color-mainback: azure;
  --color-mainlink: forestgreen;
  --color-navlink: aquamarine;
}
body {
  background: linear-gradient(
    var(--color-edges),
    var(--color-navlink),
    var(--color-main)
    );
  background-attachment: fixed;
  color: var(--color-mainback);
}
body a:link,
body a:visited {
  color: var(--color-navlink);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
}
/* color icons */
#icons {
  background: var(--color-main);
  color: var(--color-mainback);
}
#icons a img {
  background: white;
  border-color: var(--color-navlink);
  color: var(--color-main);
}
#icons a img:focus,
#icons a img:hover,
#icons a img:active {
  border-color: var(--color-active);
}
/* color jump */
#jump {
  background: none;
  border-color: var(--color-navlink);
}
#jump:focus,
#jump:hover,
#jump:active {
  border-color: var(--color-active);
}
/* color klf */
#klf {
  background: var(--color-main);
  color: var(--color-mainback);
}
/* color last */
#last {
  background: none;
}

/* color main */
main {
  background: var(--color-mainback);
  color: var(--color-main);
}
main a:link,
main a:visited {
  color: var(--color-mainlink);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  border-color: black;
  color: black;
}
main pre {
  background: black;
  color: #dadada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-main);
  color: var(--color-mainback);
}
nav a {
  border-color: var(--color-main);
}
nav summary {
  border-color: var(--color-navlink) var(--color-mainlink) var(--color-edges);
}
nav summary:focus,
nav summary:hover {
  background: var(--color-mainback);
  color: var(--color-main);
}
nav #here {
  background: var(--color-navlink);
  color: var(--color-main);
}

