/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
main cite {
  display: block;
}
nav a,
nav details,
nav summary {
  display: block;
}
