/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main cite {
  display: block;
}
/* display nav */
nav a,
nav details,
nav summary {
  display: block;
}
/* display icons */
#icons {
  display: block;
}
#icons img {
  display: inline-block;
}
/* display jump */
#jump {
  display: block;
}
/* display klf */
#klf {
  display: block;
}
/* display last */
#last {
  display: block;
}
