/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
body {
  font-size: medium/1.2;
  font-style: normal;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-variant: normal;
  font-weight: 400;
}
body a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: "Times", serif;
}
main code, main kbd, main samp, main pre, main var {
  font-family: "Courier", monospace;
  font-size: small;
}
/* font nav */
nav #home {
  font-size: 1.5em;
}
/* font icons */
#icons {
  font-size: small;
}
#icons img {
  font-size: x-small;
}
/* font jump */
#jump {
  font-size: x-small;
}
/* font klf */
#klf {
  font-size: small;
}
/* font last */
#last {
  font-size: small;
}
