/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: medium/1.2;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
body a {
  text-decoration: none;
}
/* font icons, jump, klf, last */
#icons
#jump,
#klf,
#last {
  font-size: small;
}
#icons img {
  font-size: x-small;
}
/* font main */
main blockquote {
  font-family: "Times", serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Courier", monospace;
  font-size: small;
}
/* font nav */
nav #home {
  font-size: 1.5em;
}

