/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: 2px ridge;
}
/* border main */
main,
main blockquote,
main pre,
main table {
  border: var(--border);
}
main h2 {
  border-bottom: var(--border);
}
/* border icons */
#icons img {
  border: var(--border);
}
