/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-row-gap: 1vh;
  grid-template-areas:
    'icons'
    'nav'
    'main'
    'klf'
    'jump'
    'last';
  grid-template-rows: auto auto 1fr auto auto auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
#last {
  grid-area: last;
}
