/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-icons: 0 .5rem;
  --marge-large: .5rem auto;
  --marge-small: .2rem auto 0 auto;
  --padme: .2rem .5rem;
  --puffy: .5rem 1rem;
  --size-icons: 1.5rem;
}
body {
  background-size: auto 100%;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 50rem;
  padding: 0;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin-top: .5em;
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav details {
  margin: var(--marge-small);
  padding: var(--padme);
}
nav summary {
  width: 100%;
}
/* embiggen others */
#icons,
#jump,
#klf {
  padding: var(--puffy);
}
#icons img {
  height: var(--size-icons);
  margin: var(--marge-icons);
  width: var(--size-icons);
}
#jump #updog {
  box-sizing: border-box;
  padding: var(--padme);
  width: 100%;
}
