/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: 2px solid;
  --radius: 1rem;
}
a img {
  border: var(--border);
  border-radius: var(--radius);
}
/* border main */
main blockquote,
main pre {
  border-radius: var(--radius);
}
main h2,
main h3,
main h4,
main h5,
main h6,
main hr {
  border: none;
  border-bottom: var(--border);
}
/* border nav */
nav details {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons img {
  border: var(--border);
}
#klf {
  border-top: var(--border);
}
