/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: 2px solid;
  --radius: 1rem;
}
body a img {
  border: var(--border);
  border-radius: var(--radius);
}
/* border main */
main,
main blockquote,
main mark,
main pre,
main table {
  border-radius: var(--radius);
}
main h2 {
  border-bottom: var(--border);
}
/* border nav */
nav {
  border: none;
}
nav details {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons,
#jump,
#klf {
  border: none;
}
