/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin solid;
  --radius: 1rem;
}
body a img {
  border: 2px solid;
  border-radius: 4px;
}
/* border main */
main {
  border-radius: var(--radius);
}
main blockquote,
main pre {
  border-radius: var(--radius);
}
main h2 {
  border-bottom: var(--border);
}
main table {
  border: var(--border);
  border-collapse: collapse;
  border-radius: var(--radius);
}
main table td {
  border: var(--border);
}
/* border nav */
nav details {
  border: var(--border);
  border-radius: var(--radius);
}
nav summary {
  border-bottom: var(--border);
}
/* border others */
#jump,
#jump a,
#klf {
  border-radius: var(--radius);
}
