/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #ffde57;
  --color-back: #001;
  --color-link: lightblue;
  --color-text: aliceblue;
  --color-main-back: aliceblue;
  --color-main-link: steelblue;
  --color-main-text: black;
  --color-navbox: rgba(100,100,100,.5);
  --color-shadow: 0px 1px 0px black;
  --color-time: 250ms;
}
body {
  background-attachment: fixed;
  background-image:
    radial-gradient(
      circle farthest-corner at 0% 0%,
      var(--color-back) 42%, steelblue 86%, black
    );
  color: var(--color-text);
  text-shadow: var(--color-shadow);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
body img {
  background: white;
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
  text-shadow: none;
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
main blockquote {
  background: white;
  color: black;
}
main mark {
  background: var(--color-active);
}
main pre {
  background: black;
  color: #ada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav details {
  background: var(--color-navbox);
  border-color: var(--color-navbox);
}
nav details:focus,
nav details:hover {
  border-color: var(--color-active);
  transition: var(--color-time);
}
nav #here {
  color: var(--color-active);
}
