/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #ffde57;
  --color-boxes: rgba(100,100,100,.125);
  --color-head: #aaa;
  --color-link: #ace;
  --color-mark: deeppink;
  --color-text: azure;
  --text-shadow: 1px 0 1px black;
}
a:link,
a:visited {
  color: var(--color-link);
}
a:focus,
a:hover,
a:active {
  color: var(--color-active);
}
body {
  background-attachment: fixed;
  background-image:
    radial-gradient(
      circle farthest-corner at 0% 0%,
      #001 75%, steelblue 87%, black 94%
    );
  color: var(--color-text);
  text-shadow: var(--text-shadow);
}
/* color main */
main {
  background: var(--color-boxes);
  text-shadow: none;
}
main blockquote {
  background: var(--color-boxes);
}
main dt,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main hr {
  color: var(--color-head);
  border-color: var(--color-boxes);
  text-shadow: var(--text-shadow);
}
main mark {
  background: none;
  color: var(--color-mark);
}
main pre {
  background: black;
  color: #ada;
}
main strong {
  color: var(--color-active);
  text-shadow: var(--text-shadow);
}
main table,
main table thead {
  background: white;
  color: black;
}
main table tr:nth-child(odd){
  background: #dadada;
}
/* color nav */
nav a[href="#"] {
  color: var(--color-active);
}
nav details {
  background: var(--color-boxes);
  border-color: var(--color-boxes);
  box-shadow: 0 0 2px;
}
nav details:focus,
nav details:hover {
  border-color: var(--color-active);
}
/* color others */
#icons img {
  background: white;
}
