/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main,
main cite,
main mark {
  display: block;
}
/* display nav */
nav a,
nav details,
nav summary,
/* display others */
#icons img {
  display: block;
}
#jump a {
  display: inline-block;
}
#klf address {
  display: inline;
}
