/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main cite,
main iframe {
  display: block;
}
/* display nav */
nav a,
nav summary {
  display: block;
}
/* display others */
#icons img {
  display: block;
}
#jump {
  display: flex;
}
