/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-large: .5em auto;
  --marge-small: .25rem auto;
  --padme: .25rem .5rem;
  --puffy: .75rem 1rem;
  --size-icons: 1.5rem;
}
body {
  margin: 2vh auto 0 auto;
  max-width: 86rem;
  min-height: 98vh;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main mark,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin-top: .5em;
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav details {
  margin: var(--marge-small);
}
nav details {
  padding: var(--padme);
}
nav #home {
  margin: var(--marge-large);
}
/* embiggen others */
#icons,
#jump,
#klf {
  padding: var(--puffy);
}
#icons img {
  height: var(--size-icons);
  margin: var(--marge-large);
  width: var(--size-icons);
}
#jump #updog {
  width: 100%;
}
#klf address {
  margin: 0 1em;
}
