/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge: .75em auto;
  --padme: .25em .75em;
  --puffy: .75rem 1.25rem;
  --size-icons: 2rem;
}
body {
  margin: .5rem auto 0;
  max-width: 80rem;
  min-height: 99vh;
  overflow-y: scroll;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main details,
main pre {
  box-sizing: border-box;
  margin: var(--marge);
  padding: var(--puffy);
  width: 100%;
}
main dt,
main figure,
main .gallery,
main hr,
main iframe {
  margin: var(--marge);
}
main table {
  box-sizing: border-box;
  margin: var(--marge);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav summary {
  padding: var(--padme);
}
/* embiggen others */
#icons,
#jump,
#klf {
  padding: var(--puffy);
}
#icons img {
  box-sizing: border-box;
  height: var(--size-icons);
  margin: 1rem 0;
  width: var(--size-icons);
}
#jump a {
  margin: auto;
}
#klf address {
  margin: 0 1rem;
}
