/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display icons */
#icons {
  position: sticky;
  top: 0;
}
#icons img {
  display: inline-block;
}
/* display jump */
#jump a {
  display: inline-block;
}
/* display main */
main cite {
  display: block;
}
/* display nav */
nav a {
  display: inline-block;
}
nav details {
  display: inline;
}
nav summary {
  display: inline-block;
}
nav details > details,
nav details summary ~ a {
  display: block;
}
nav #home {
  display: block;
}
