/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --large-marge: .5rem auto;
  --marge: .5em;
  --padme: .25em .5em;
  --puffy: 1rem;
}
body {
  margin: var(--large-marge);
  min-height: 96vh;
  max-width: 48rem;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--large-marge);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin: var(--marge);
}
main table {
  margin: var(--large-marge);
  overflow: auto;
  padding: 0;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a {
  margin: 0;
  padding: var(--padme);
}
nav details {
  margin: 0;
  padding: var(--padme);
}
nav summary {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* embiggen others */
#icons {
  margin: 0;
  padding: var(--puffy);
}
#icons a {
  margin: var(--marge);
}
#icons img {
  height: 1em;
  margin: 0 .5em;
  width: 1em;
}
#jump {
  margin: 0;
  padding: 0;
}
#jump a {
  margin: 0;
  padding: 0;
  width: 100%;
}
#klf {
  margin: 0;
  padding: var(--puffy);
}
