/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
body {
  font-family: Charcoal, sans-serif;
  font-size: large;
  font-style: normal;
  font-variant: normal;
  font-weight: 451;
  line-height: 1.2;
}
body a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: Georgia, serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: small;
}
/* font nav */
nav #home {
  font-size: 2rem;
}
/* font others */
#icons {
  font-size: medium;
}
#icons img {
  font-size: x-small;
}
#jump,
#klf {
  font-size: small;
}
