/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: red;
  --color-back: dimgray;
  --color-link: lightblue;
  --color-text: lightgreen;
  --color-main-back: white;
  --color-main-link: #555;
  --color-main-text: black;
  --color-navbox: rgba(0,0,0,.25);
  --color-shadow: 0 .1em 0 black;
  --color-time: 250ms;
}
body {
  background: var(--color-back);
  color: var(--color-text);
  text-shadow: var(--color-shadow);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
  text-shadow: none;
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
main blockquote {
  background: white;
  color: black;
}
main pre {
  background: black;
  color: #dadada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav,
nav details {
  background: var(--color-navbox);
}
nav summary {
  border-color: var(--color-back);
}
nav summary:focus,
nav summary:hover,
nav summary:active {
  border-color: var(--color-active);
  transition: var(--color-time);
}
nav #here {
  color: var(--color-active);
}
/* color others */
#icons,
#jump,
#klf,
#last {
  background: var(--color-navbox);
}
#icons img {
  background: white;
}
