/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main,
main cite {
  display: block;
}
/* display nav */
nav a {
  display: block;
}
nav details {
  display: block;
}
nav summary {
  display: inline-block;
}
nav details > details,
nav summary ~ a {
  display: block;
}
nav #home {
  display: block;
}
/* display other */
#icons,
#jump,
#klf,
#last {
  display: block;
}
#icons img {
  display: inline-block;
}
#jump a {
  display: inline-block;
}
