/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #fad;
  --color-back: black;
  --color-link: #abc;
  --color-text: #eee;
  --color-main-active: deeppink;
  --color-main-back: #eee;
  --color-main-link: #789;
  --color-main-text: black;
  --color-navbox: rgba(0,0,0,.666);
  --color-shadow: 1px 1px 0 black;
  --color-time: 500ms;
}
body {
  background-color: var(--color-back);
  background-image: url("media/galaxy.jpg");
  color: var(--color-text);
  text-shadow: var(--color-shadow);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
body img {
  background: white;
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
  text-shadow: none;
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-main-active);
}
main blockquote {
  background: white;
  color: black;
}
main mark {
  background: none;
  color: var(--color-main-active);
}
main pre {
  background: black;
  color: #ada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-navbox);
}
nav a[href="#"] {
  color: var(--color-active);
}
nav summary:focus,
nav summary:hover,
nav summary:active {
  border-color: var(--color-active);
  transition: var(--color-time);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-navbox);
}
