/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-icons: 0 .5rem;
  --marge-large: .5rem auto;
  --marge-small: .25rem 1rem;
  --padme: .25rem .5rem;
  --puffy: .5rem 1rem;
  --size-icons: 1.25rem;
}
body {
  margin: 0;
  min-height: 100vh;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
@media all and (min-width: 64rem) {
  main {
    padding-left: calc(50vw - 31rem);
    padding-right: calc(50vw - 31rem);
  }
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--padme);
}
nav a,
nav details {
  margin: var(--marge-small);
}
nav summary {
  width: 100%;
}
/* embiggen others */
#icons,
#jump,
#klf {
  padding: var(--padme);
}
#icons img {
  height: var(--size-icons);
  margin: var(--marge-icons);
  width: var(--size-icons);
}
#jump #updog {
  width: 100%;
}
#klf address {
  margin: 0 1em;
}
