/*
Alignment, text indentation, etc.
https://www.w3schools.com/css/css_text.asp
*/
body {
  text-align: center;
}
/* align main */
main {
  text-align: left;
}
main h1 {
  text-align: center;
}
/* align nav */
nav {
  text-align: left;
}
nav #home {
  text-align: center;
}
/* align others */
#icons,
#icons img {
  vertical-align: middle;
}
/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin solid;
  --radius: .5rem;
}
/* border main */
main {
  border: none;
  border-radius: 0;
}
main blockquote,
main pre,
main table {
  border: var(--border);
  border-radius: var(--radius);
}
main h2 {
  border-bottom: var(--border);
}
/* border nav */
nav,
nav a {
  border-radius: var(--radius);
}
nav summary {
  border: var(--border);
  border-radius: var(--radius);
}
/* border others */
#icons {
  border-radius: var(--radius) var(--radius) 0 0;
}
#icons img {
  border: 2px solid;
  border-radius: 4px;
}
#jump a {
  border: var(--border);
  border-radius: var(--radius);
}
#klf {
  border-radius: 0 0 var(--radius) var(--radius);
}
/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: crimson;
  --color-back: black;
  --color-link: #ada;
  --color-text: mintcream;
  --color-main-back: white;
  --color-main-link: forestgreen;
  --color-main-text: black;
  --color-heading: #032;
  --color-time: 125ms;
}
body {
  background-attachment: fixed;
  background: var(--color-heading);
  color: var(--color-text);
}
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--color-time);
}
/* color main */
main {
  background: var(--color-main-back);
  color: var(--color-main-text);
}
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-active);
}
main blockquote {
  background: white;
  border-color: var(--color-heading);
  color: black;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--color-heading);
}
main pre {
  background: black;
  color: #dadada;
}
main table {
  background: #dadada;
  color: black;
}
main table tr:nth-child(even){
  background: white;
}
/* color nav */
nav {
  background: var(--color-back);
}
nav summary {
  border-color:
    var(--color-main-link)
    var(--color-heading)
    var(--color-heading);
}
nav summary:focus,
nav summary:hover {
  background: var(--color-text);
  color: var(--color-back);
  transition: var(--color-time);
}
nav #here {
  background: var(--color-heading);
  color: var(--color-text);
}
/* color others */
#icons,
#klf {
  background: var(--color-back);
}
#icons img {
  background: white;
}
#jump {
  background: none;
  border-color: var(--color-link);
}
/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main,
main cite {
  display: block;
}
/* display nav */
nav,
nav a,
nav details,
nav summary {
  display: block;
}
/* display others */
#icons img {
  display: inline-block;
}
#jump a {
  display: inline-block;
}/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge-large: 1rem 0;
  --marge-small: .25em 0;
  --padme: .25em .5em;
  --puffy: .5rem 1rem;
}
body {
  margin: 1vh 1vw;
  max-width: 96vw;
  min-height: 98vh;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main pre {
  margin: var(--marge-large);
  max-width: 100%;
  overflow: auto;
  padding: var(--puffy);
}
main cite {
  margin: var(--marge-small);
}
main h1 {
  margin: var(--marge-large);
}
main table {
  margin: var(--marge-large);
  overflow: auto;
  padding: 0;
  width: 100%;
}
main table td {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav a,
nav summary {
  margin: var(--marge-small);
  padding: var(--padme);
}
nav details > details,
nav summary ~ a {
  margin-left: 1em;
}
nav #home {
  margin: var(--marge-large);
}
/* embiggen others */
#icons,
#klf {
  padding: var(--puffy);
}
#icons img {
  height: 1em;
  margin: 0 .5em;
  width: 1em;
}
#jump {
  line-height: 1.2rem;
  margin: .5rem 0 0 0;
}
#jump a {
  width: 100%;
}
/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.2;
}
@media all and (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
body a {
  text-decoration: none;
}
/* font main */
main blockquote {
  font-family: "Times", serif;
}
main code,
main kbd,
main samp,
main pre,
main var {
  font-family: "Courier", monospace;
  font-size: .8rem;
}
/* font nav */
nav #home {
  font-size: 2em;
}
/* font others */
#icons {
  font-size: 1.2rem;
}
#jump,
#klf {
  font-size: .8rem;
}
/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-column-gap: 1vw;
  grid-row-gap: 0;
  grid-template-areas:
    'nav  icons'
    'nav  main'
    'nav  klf'
    'nav jump';
  grid-template-columns: 24vw 1fr;
  grid-template-rows: auto 1fr auto auto;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
